
@{
}

@model CheeseMVCPersistingObjects.ViewModel.AddCheeseCategoryViewModel

<h1>@ViewBag.title</h1>

<form asp-controller="CheeseCategory" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Agregar</button>
    </div>
</form>

<br />

<a class="btn btn-outline-danger" asp-controller="CheeseCategory" asp-action="Index">Cancelar</a>