
@{
}

@model List<CheeseMVCPersistingObjects.Models.Cheese>

<h1>@ViewBag.title</h1>

@if(Model.Count == 0)
{
    <h4>No hay quesos registrados todavia</h4>
}
<p>
<a asp-controller="Cheese" asp-action="Add">Agregar queso</a> | 

<a asp-controller="Cheese" asp-action="Remove">Quitar queso(s)</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Cheese cheese in Model)
        {
            <tr>
                <td>@cheese.Name</td>
                <td>@cheese.Description</td>
                <td>@cheese.Category.Name</td>
            </tr>
        }
    </tbody>
</table>

